<!-- MY WEBSITE -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Reel</title>

    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    >
    <!-- Baloo Bhaina -->
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap"
        crossorigin="anonymous"
    >
     <!-- Stylesheet -->
     <link href="../CSS/main.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- Nav -->
    <nav class="navbar2 navbar fixed-top navbar-expand-md navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="../index.html">
            <img src="../images/busi_back copy 2small.png" class="img-fluid" alt="LI" loading="lazy">
        </a>

        <!-- Toggle Navigation button -->
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Toggle Navigation -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="page2.html">
                        Video Reel <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="page3.html">Projects</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main -->
    <main class="hero4">
        <section class="container-md py-5">
            <h2 class="h1">Video Reel</h2>
                <p class="p">
                    Take a look at all of my VR paintings on Tilt Brush. 
                    Here you will find a mix of client work, my art practice and other experiments.
                </p>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="../images/Portfolio_1.mp4"></iframe>
                </div>
            </div>
        </section>
    </main>
  
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
    >
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
    >
    </script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
    >
    </script>
    <script src="../JS/main.js"></script>

</body>
</html>