<!-- MY WEBSITE -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    >
    <!-- Baloo Bhaina -->
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap"
        crossorigin="anonymous"
    >
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css">
</head>

<body>
    <!-- Nav -->
    <nav class="navbar2 navbar fixed-top navbar-expand-md navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="../index.html">
            <img src="../images/busi_back copy 2small.png" class="img-fluid" alt="LI" loading="lazy">
        </a>

        <!-- Toggle Navigation button -->
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Toggle Navigation -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./page2.html">Video Reel</a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" href="./page3.html">
                      Projects <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="hero3">
        <article class="container-md py-5">
            <h2 class="h1">Projects</h2>
            <p class="p">
                I have created a number of different environments, 
                hand painted in virtual reality using Tilt Brush. 
                Take a look at all of my projects to date, including client work, 
                my own art practice, my degree show work and other experiments.
            </p>

            <section class="py-5">
                <h3 class="h2">Ninety One</h3>
                <p class="p">
                    Investec Asset Management have rebranded to Ninety One. 
                    This immersive timeline pathway takes the viewer through the 
                    development of their brand and the cultural influences that 
                    made them who they are from their nascent beginnings til now.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="../images/Investec_1.mp4"></iframe>
                </div>

                <aside class="pt-5">
                  <!--Carousel-->
                  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <img src="../images/Investec_final_37.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/ninetyone1.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../images/ninetyone2.png" class="d-block w-100" alt="...">
                           </div>
                           <div class="carousel-item">
                              <img src="../images/ninetyone3.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/ninetyone4.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/ninetyone5.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/ninetyone6.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/ninetyone7.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/ninetyone8.png" class="d-block w-100" alt="...">
                          </div>
                      </div>

                      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>

                      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div><!--end of carousel-->
              </aside>
          </section>

          <!--Project 2-->
            <section class="py-5">
                <h3 class="h2">Waterfall</h3>
                <p class="p">
                    Waterfall is a painting created from imagination, 
                    experimenting with creating water textures and 
                    lighting as part of my artistic practice.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="../images/Waterfall_1.mp4">
                </div>

                <aside class="pt-5">
                  <!--Carousel-->
                  <div id="carouselExampleFade2" class="carousel slide carousel-fade" data-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <img src="../images/Waterfall.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/Waterfall1.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../images/Waterfall2.png" class="d-block w-100" alt="...">
                           </div>
                           <div class="carousel-item">
                              <img src="../images/Waterfall3.png" class="d-block w-100" alt="...">
                          </div>
                      </div>

                      <a class="carousel-control-prev" href="#carouselExampleFade2" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>

                      <a class="carousel-control-next" href="#carouselExampleFade2" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div><!--end of carousel-->
              </aside>
          </section>


              

          <!--Project 3-->
          <section class="py-5">
            <h3 class="h2">Google Automation Summit</h3>
            <p class="p">
              I performed live on stage at the Google Automation Summit for 150 guests, 
              creating an environment that described the topics that were going to be 
              spoken about at the event.
            </p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="../images/AutomationSummit_1.mp4"></iframe>
            </div>
                <aside class="pt-5">
                  <!--Carousel-->
                  <div id="carouselExampleFade3" class="carousel slide carousel-fade" data-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <img src="../images/Automation Summit.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/AutomationSum.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/AutomationSum2.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../images/AutomationSum3.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/AutomationSum4.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/AutomationSum5.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                               <img src="../images/AutomationSum6.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/AutomationSum7.png" class="d-block w-100" alt="...">
                          </div>
                      </div>

                      <a class="carousel-control-prev" href="#carouselExampleFade3" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>

                      <a class="carousel-control-next" href="#carouselExampleFade3" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div><!--end of carousel-->
              </aside>
            </section>

           <!--Project 4-->
            <section class="py-5">
                <h3 class="h2">Google Finance Week</h3>
                <p class="p">
                    Entertaining Google's Finance Week attendees with Tilt Brush, 
                    I created two drawings as templates of the Google logos for guests 
                    to embellish as they wish, facillitating many of their first tries using VR.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="../images/GoogleFW_1.mp4"></iframe>
                </div>

                <aside class="pt-5">
                  <!--Carousel-->
                  <div id="carouselExampleFade4" class="carousel slide carousel-fade" data-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <img src="../images/Google3.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/Google4.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/Google5.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../images/Google1.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../images/Google2.png" class="d-block w-100" alt="...">
                          </div>
                      </div>

                      <a class="carousel-control-prev" href="#carouselExampleFade4" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>

                      <a class="carousel-control-next" href="#carouselExampleFade4" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div><!--end of carousel-->
              </aside>
          </section>

          <!--Project 5-->
            <section class="py-5">
                <h3 class="h2">Forlorn Park</h3>
                <p class="p">
                    My final project for my Degree Show, completing my Art & Design degree. 
                    It explores the theme of urban parks and their potential insight into the human - 
                    nature relationship.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="../images/Forlorn park_1.mp4"></iframe>
                </div>

                <aside class="pt-5">
                  <!--Carousel-->
                  <div id="carouselExampleFade5" class="carousel slide carousel-fade" data-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <img src="../images/forlornpark2.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/forlornpark3.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/forlornpark4.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/Forlorn Park.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../images/forlornpark1.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../images/forlornpark5.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../images/forlornpark6.png" class="d-block w-100" alt="...">
                          </div>
                      </div>

                      <a class="carousel-control-prev" href="#carouselExampleFade5" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>

                      <a class="carousel-control-next" href="#carouselExampleFade5" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div><!--end of carousel-->
              </aside>
          </section>
          
          <!--Project 6-->
            <section class="py-5">
                <h3 class="h2">Cave</h3>
                <p class="p">
                    This painting was an experiment of creating atmospheric light textures in Tilt Brush.
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="../images/Cave_1.mp4"></iframe>
                </div>
                <aside class="pt-5">
                  <!--Carousel-->
                  <div id="carouselExampleFade6" class="carousel slide carousel-fade" data-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <img src="../images/Cave.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/Cave1.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                              <img src="../images/Cave2.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../images/Cave3.png" class="d-block w-100" alt="...">
                          </div>
                      </div>

                      <a class="carousel-control-prev" href="#carouselExampleFade6" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>

                      <a class="carousel-control-next" href="#carouselExampleFade6" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div><!--end of carousel-->
              </aside>
          </section>
        </article>
    </main>
  
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
    >
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
    >
    </script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"
    >
    </script>
    <script src="../JS/main.js"></script>
</body>
</html>